* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --first-text-color: black;
    --second-text-color: rgb(255, 249, 223);

    --first-color: white;
    --accent-color: rgb(0, 160, 0);
    --darker-accent-color: green;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 20px auto 100px;

    background-color: var(--first-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
    font-weight: normal;
}
p {
    font-size: 1rem;
}

.bar-container {
    position: fixed;
    width: 100%;
    height: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;

    /* background-color: var(--accent-color); */
    background-color: var(--first-color);
    color: var(--first-text-color);

    animation: 0.7s 1 ease slideInFromAbove;
}

.website-name {
    grid-column: 1/2;
    padding: 0px 0px 0px 5px;
}

.nav-item {
    text-align: center;
    text-decoration: none;
    color: var(--first-text-color);
    
    transition: all 0.3s;
}
.nav-item:hover {
    background-color: var(--darker-accent-color);
    color: var(--first-color);
}
.nav-item:visited {
    text-decoration: none;
    color: var(--first-text-color);
}

.nav-item-one {
    grid-column: 2/3;
}
.nav-item-two {
    grid-column: 3/4;
}
.nav-item-three {
    grid-column: 4/5;
}

.dropdown {
    display: none;

    position: fixed;

    width: fit-content;
    height: min-content;
    list-style-type: none;

    background-color: var(--first-color);
    top: 20px;
    right: 20px;
    position: fixed;
    border-radius: 7px;
    padding: 3px;
    border: var(--first-text-color) 2px solid;
}

.bar {
    width: 50%;
    height: 14%;
    background-color: var(--first-text-color);
}

.drop-item {
    text-align: center;
    text-decoration: none;
    color: var(--first-text-color);

    margin: 5px 3px;
    border-bottom: solid 1px var(--accent-color);
}

.drop-item:hover {
    color: var(--accent-color);
}

@media screen and (max-width:500px) {
    .nav-item {
        display: none;
    }

    .bar-dropdown-container {
        grid-column: 4/5;
        padding: 5px 0px 0px 0px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .bar-dropdown-container:hover .dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@keyframes slideInFromAbove {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.writing {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: left;
}

.header-underline {
    padding-bottom: 5px;
    border-bottom: var(--accent-color) 2px solid;
}

.main-text {
    margin-top: 20px;
}