<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "standardWrite.css">
        <meta charset = "UTF-8">
        <title>write - kjwrites</title>
        <meta name = "description" content = "Broad content of a blog, reviews, guides, and writing - ">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class = "bar-container">
            <div class = "website-name">
                kjwrites
            </div>
            <a class = "nav-item-one nav-item" href = "work-categories/journal.html">
                journal
            </a>
            <a class = "nav-item-two nav-item" href = "work-categories/literature.html">
                literature
            </a>
            <a class = "nav-item-three nav-item" href = "work-categories/blog.html">
                blog
            </a>
            <div class = "bar-dropdown-container">
                <div class = "bar"></div>
                <div class = "bar"></div>
                <div class = "bar"></div>
                <ul class = "dropdown">
                    <li>
                        <a class = "drop-item" href = "work-categories/journal.html">
                            journal
                        </a>
                    </li>
                    <li>
                        <a class = "drop-item" href = "work-categories/literature.html">
                            literature
                        </a>
                    </li>
                    <li>
                        <a class = "drop-item" href = "work-categories/blog.html">
                            blog
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "writing">
            <h1 class = "header-underline">
                Test Header: Hello I Am Testing
            </h1>
            <p class = "main-text">
                Josie is amazing
            </p>
        </div>
    </body>
</html>